@model ED2Lab1_Carlos_Coronado_1236020.Models.Persona

@{
    ViewData["Title"] = "Cartas";
}

<h1>Details</h1>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
     <dt class = "col-sm-2">
          LLave Publica
     </dt>
     <dd class = "col-sm-10">
          @Html.DisplayFor(model => model.LLavePub)
     </dd>
     @for (int i = 0; i < Model.companies.Count(); i++)
     {
        <dt class = "col-sm-2">
              @Html.DisplayFor(model => model.companies[i])
        </dt>
        <dd class = "col-sm-10">
              @Html.DisplayFor(model => model.LlavesPriv[i])
        </dd>
     }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
